header {
    padding-top: 20px;
    padding-bottom: 30px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    
    + * {
        padding-top: 180px;
        flex-grow: 1;
        
        @media(max-width:992px){
            padding-top: 211px;
        }
    }
    
    @media(max-width:992px){
        padding-top: 15px;
        padding-bottom: 15px;
        background: rgba(28, 31, 71, .9);
        border-bottom: 1px solid #191c43;
    }
    
    .logo {
        display: flex;
        align-items: flex-end;
        
        img {
            @media(max-width:992px){
                height: 20px;
            }
            
            &:first-child {
                margin-right: 10px;
                
                @media(max-width:992px){
                    display: none;
                    margin: 0;
                }
            }
        }
    }
    
    .navbar {
        padding: 0;
    }
    
    a {
        color: #cfcfe4;
        padding: 0;
        text-transform: uppercase;
        
        &:hover, &:focus {
            color: #2059ed;
        }
    }
    
    .dropdown-toggle::after {
        border-top-color: #2059ed;
    }

    .social {
        font-size: 20px;
        
        @media(max-width:992px){
            display: none;
        }
    }
}

.search-form {
    position: relative;
    input {
        border: 0;
        border-top: 1px solid #e0e5f1;
        border-bottom: 1px solid #e0e5f1;
        background: transparent;
        color: #fff;
        border-top: 1px solid #e0e5f1;
        border-bottom: 1px solid #e0e5f1;
        padding: 6px 40px 6px 12px;
        width: 100%;
        
        @media(max-width:992px){
            border-top: 0;
        }
    }
    
    button {
        border: 0;
        background: transparent;
        padding: 0;
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        
        img {
            height: 22px;
        }
    }
}

.social {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 auto;
    display: flex;

    li {
        margin-left: 30px;
    }

    a {
        color: #626694;

        &:hover {
            color: #2059ed;
        }
    }
}