@import "libs", "custom";

@font-face {
    font-family: 'Gilroy';
    font-display: auto;
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot') format('embedded-opentype'), url('../fonts/Gilroy-Regular.woff') format('woff'), url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    font-display: auto;
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot') format('embedded-opentype'), url('../fonts/Gilroy-Bold.woff') format('woff'), url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    font-display: auto;
    src: url('../fonts/Gilroy-Black.eot');
    src: url('../fonts/Gilroy-Black.eot') format('embedded-opentype'), url('../fonts/Gilroy-Black.woff') format('woff'), url('../fonts/Gilroy-Black.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 900;
}

body {
	margin: 0;
    padding: 0;
    background: #17193f;
    color: #fff;
    font-family: 'Gilroy', Helvetica Neue, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    @media(max-width:992px){
        font-size: 14px;
    }
}

p {
    margin: 0 0 10px;
}

a {
    color: #2059ed;
    
    &:hover, &:focus {
        text-decoration: none;
        color: #333;
    }
}

a, button {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
label {
    font-weight: 700;
}
button, input, select, textarea {
    min-height: 50px;
    
    &:focus {
        outline: 0;
        box-shadow: none !important;
    }
}
textarea {
    resize: none;
}

img {
    max-width: 100%;
}

i {
    font-style: normal;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-transform: uppercase;
    font-weight: 700;
        letter-spacing: 1px;
    
    &-blue {
        background: #2059ed;
        color: #fff;
    }
    
    &-blue-o {
        border: 1px solid #2059ed;
        background: transparent;
        color: #5f5f61;
        
        &:hover, &:focus {
            color: #2059ed;
        }
    }
    
    &-white {
        border: 1px solid #fff;
        background: transparent;
        color: #fff;
        
        &:hover, &:focus {
            border-color: #2059ed;
            color: #2059ed;
        }
    }
    
    i {
        font-size: 70%;
        margin-left: 15px;
    }
}

.icon {
	position: relative;
    display: inline-block;
	height: 24px;
    width: 24px;
    
	&:before{
		content: '';
		position: absolute;
		top: 0;
        left: 0;
		background-color: #141414;
		width: 100%;
		height: 100%;
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-position: center center;
	}

	&.delivery:before{
		-webkit-mask-image: url('../../img/quick-delivery.svg');
		mask-image: url('../../img/quick-delivery.svg');
	}
}

.page-title {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    margin: 40px 0 20px;
//    margin: 0 0 20px;
    
    @media(max-width:992px){
        font-size: 24px;
        margin: 0;
    }
    
    &:before {
        content: "";
        position: absolute;
        top: -38px;
        left: -45px;
        z-index: 0;
        display: block;
        width: 120px;
        height: 120px;
        background: url(../images/title-sircle.png) no-repeat center center;
        background-size: contain;
    }
}

.subtitle {
    font-size: 30px;
    font-weight: 700;
    color: #3f405f;
    
    @media(max-width:992px){
        font-size: 22px;
    }
}

.section-title {
    display: flex;
    align-items: center;
    background: url(../images/title-sircle.png) no-repeat left center;
    background-size: contain;
    color: #33386c;
    font-weight: 900; 
    font-size: 36px;
    position: relative;
    height: 100px;
    padding-left: 40px;
    margin: 0;
}

@import "header", "footer", "job", "category", "contact-us", "contacts", "product", "reviews", "cases", "home";