@charset "UTF-8";

.container {
  position: relative;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 0;
  font-weight: 600;
}

h1,
.h1 {
  font-size: 1.75rem;
}

h2,
.h2 {
  font-size: 1.5rem;
}

h3,
.h3 {
  font-size: 1.125rem;
}

h4,
.h4 {
  font-size: 1rem;
}

.owl-theme .owl-nav {
  margin-top: 0;
}

.owl-theme .owl-nav [class*="owl-"] {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  text-indent: -99999px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background-color: transparent;
}

.owl-theme .owl-nav [class*="owl-"]:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-size: 12px !important;
}

.owl-theme .owl-nav .owl-next {
  right: 15px;
  left: auto;
}

.owl-theme .owl-controls .owl-prev:before {
  background: url(../images/prev.png) no-repeat center center;
}

.owl-theme .owl-controls .owl-next:before {
  background: url(../images/next.png) no-repeat center center;
}

.owl-theme .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 30px;
  margin: 30px 0 0;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background: #2059ed;
}

.owl-theme .owl-dots .owl-dot.active span {
  width: 25px;
  height: 25px;
  background: #2059ed;
}

.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 0 10px;
  background: transparent;
  border: 1px solid #2059ed;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 0;
}

.nav-tabs .nav-item {
  width: 48%;
  margin: 5px 1%;
}

.nav-tabs .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 120px;
  padding: 15px;
  font-size: 14px;
  color: #ffffff;
  background: #3a4480;
  border: 0;
  border-radius: 0;
}

.nav-tabs .nav-link.active {
  color: #ffffff;
  background: #7487dd;
}

.nav-tabs .nav-link:hover {
  color: #ffffff;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.navbar-toggler {
  bottom: 0;
  display: none;
  margin-right: auto;
  padding: 0;
}

.navbar-toggler img {
  height: 24px;
}

.navbar-nav .nav-item:last-child .nav-link {
  padding-right: 0;
}

.navbar-nav .nav-item .nav-link {
  padding: 5px 15px 0;
}

.breadcrumb {
  padding-right: 0;
  padding-left: 0;
  font-size: 11px;
  text-transform: uppercase;
  background: transparent;
}

.breadcrumb .breadcrumb-item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
}

.breadcrumb a {
  color: #6c6d81;
}

.breadcrumb a:hover,
.breadcrumb a:focus {
  color: #2059ed;
}

.breadcrumb .active {
  font-weight: 700;
  color: #2059ed;
}

.form-group {
  margin: 0 0 30px;
}

.form-group.error input {
  color: red;
  border-color: red;
}

.btn,
.form-control {
  border-radius: 0;
}

.dropdown.show {
  background: rgba(116, 135, 221, 0.17);
}

.dropdown.show .dropdown-toggle::after {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.dropdown .dropdown-menu {
  width: 100%;
  min-width: auto;
  margin: 0;
  padding-top: 5px;
  background: rgba(116, 135, 221, 0.17);
  border: 0;
  border-radius: 0;
}

.dropdown .dropdown-item {
  padding: 0.25rem 15px;
  color: #cfcfe4;
}

.dropdown .dropdown-item:hover,
.dropdown .dropdown-item:focus {
  color: #2059ed;
  background: transparent;
}

/*
Если сомневаетесь, используйте единицы rem для размера шрифта, пикселы
— для границ и единицы еm — для большинства других свойств.

@font-face {
    font-family: 'FontAwesome';
    font-display: auto;
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
*/

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Open Sans", Helvetica Neue, sans-serif;
  color: #ffffff;
  background: #17193f;
}

p {
  margin: 0 0 10px;
}

a {
  color: #2059ed;
}

a:hover,
a:focus {
  color: #333333;
  text-decoration: none;
}

a,
button {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

label {
  font-weight: 700;
}

button,
input,
select,
textarea {
  min-height: 50px;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

textarea {
  resize: none;
}

img {
  max-width: 100%;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-blue {
  color: #ffffff;
  background: #2059ed;
}

.btn-blue-o {
  color: #5f5f61;
  background: transparent;
  border: 1px solid #2059ed;
}

.btn-blue-o:hover,
.btn-blue-o:focus {
  color: #2059ed;
}

.btn-white {
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
}

.btn-white:hover,
.btn-white:focus {
  color: #2059ed;
  border-color: #2059ed;
}

.btn i {
  margin-left: 15px;
  font-size: 70%;
}

.icon {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #141414;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.icon.delivery:before {
  -webkit-mask-image: url("../../img/quick-delivery.svg");
  mask-image: url("../../img/quick-delivery.svg");
}

.page-title {
  position: relative;
  margin: 40px 0 20px;
  font-weight: 700;
  font-size: 36px;
}

.page-title:before {
  content: "";
  position: absolute;
  top: -38px;
  left: -45px;
  z-index: 0;
  display: block;
  width: 120px;
  height: 120px;
  background: url(../images/title-sircle.png) no-repeat center center;
  background-size: contain;
}

.subtitle {
  font-weight: 700;
  font-size: 30px;
  color: #3f405f;
}

.section-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px;
  margin: 0;
  padding-left: 40px;
  font-weight: 700;
  color: #33386c;
  background: url(../images/title-sircle.png) no-repeat left center;
  background-size: contain;
}

header {
  padding-top: 20px;
  padding-bottom: 30px;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

header .logo img:first-child {
  margin-right: 10px;
}

header .navbar {
  padding: 0;
}

header a {
  padding: 0;
  color: #cfcfe4;
  text-transform: uppercase;
}

header a:hover,
header a:focus {
  color: #2059ed;
}

header .dropdown-toggle::after {
  border-top-color: #2059ed;
}

header .social {
  font-size: 20px;
}

.search-form {
  position: relative;
}

.search-form input {
  width: 100%;
  padding: 6px 40px 6px 12px;
  color: #ffffff;
  background: transparent;
  border: 0;
  border-top: 1px solid #e0e5f1;
  border-top: 1px solid #e0e5f1;
  border-bottom: 1px solid #e0e5f1;
  border-bottom: 1px solid #e0e5f1;
}

.search-form button {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  padding: 0;
  background: transparent;
  border: 0;
}

.search-form button img {
  height: 22px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 auto;
  padding: 0;
  list-style-type: none;
}

.social li {
  margin-left: 30px;
}

.social a {
  color: #626694;
}

.social a:hover {
  color: #2059ed;
}

footer {
  padding-top: 40px;
  padding-bottom: 120px;
  background: url(../images/footer-bg.jpg) no-repeat center center;
  background-size: cover;
  border-top: 1px solid #7487dd;
}

footer .logo {
  display: block;
  margin: 0 0 45px;
}

footer .social {
  float: right;
}

footer ul {
  list-style-type: none;
  text-transform: uppercase;
}

footer a {
  color: #ffffff;
}

footer a:hover,
footer a:focus {
  color: #2059ed;
}

.footer-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.footer-menu > li {
  margin-right: 30px;
}

.footer-menu ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 0;
  padding: 20px 0 0;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid #cfcfe4;
}

.footer-menu ul li {
  margin-right: 30px;
}

.footer-menu ul li:last-child {
  margin: 0;
}

.footer-menu ul a {
  color: #cfcfe4;
}

.footer-menu ul a:hover,
.footer-menu ul a:focus {
  color: #2059ed;
}

.job-page {
  background: url(../images/header-bg.png) no-repeat top right;
}

.job-page .contact-us {
  background: #e0e5f1;
}

.job-page .contact-us:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 200px;
  background: #ffffff;
}

.job-page .contact-us .section-title {
  color: #3f405f;
}

.job-list {
  padding: 60px 0 0;
  color: #7a7a80;
  background: #ffffff;
}

.job-list .collapse:after,
.job-list .collapsing:after {
  content: "";
  display: block;
  height: 30px;
}

.job-list .job-title {
  margin: 0;
  padding: 0 0 30px;
  font-weight: 700;
  font-size: 30px;
  color: #3f405f;
  cursor: pointer;
}

.job-list .job-title:hover {
  color: #2059ed;
}

.job-list .job-title span {
  display: block;
  font-size: 18px;
  color: #747a89;
}

.category-list {
  color: #7a7a80;
  background: #ffffff;
}

.category-list .item {
  padding: 60px 0;
}

.category-list .item:nth-child(odd) {
  background: #e0e5f1;
}

.category-list .item:nth-child(even) .container {
  grid-template-areas: "img title"  "img desc"  "img btn";
}

.category-list .container {
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-areas: "title img"  "desc img"  "btn img";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.category-list .title {
  align-self: end;
  margin: 0 0 10px;
  font-size: 36px;
  color: #3f405f;
  grid-area: title;
}

.category-list .img {
  margin: 0 auto;
  grid-area: img;
}

.category-list .desc {
  grid-area: desc;
}

.category-list .btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-self: start;
  width: 320px;
  max-width: 100%;
  grid-area: btn;
}

.category-page {
  background: url(../images/header-bg.png) no-repeat top right;
}

.category-page .h2 {
  margin: 0 0 30px;
  font-size: 36px;
}

.how-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 20px;
  padding: 25px 15px;
  font-weight: 700;
  font-size: 24px;
  color: #dfdfef;
  background: #3a447f;
}

.how-box img {
  margin-right: 20px;
}

.contact-us {
  position: relative;
  padding: 30px 0 60px;
  font-size: 18px;
  background: url(../images/contact-bg.png) no-repeat right bottom;
  background-size: contain;
}

.contact-us > * {
  position: relative;
  z-index: 2;
}

.contact-us .section-title {
  color: #ffffff;
}

.contact-us form {
  position: relative;
  min-height: 380px;
  margin: 20px 40px;
  padding: 40px;
  color: #ffffff;
  background: #33386c;
}

.contact-us form:after {
  content: "";
  position: absolute;
  top: auto;
  right: -40px;
  bottom: -30px;
  left: auto;
  display: block;
  width: 180px;
  height: 120px;
  background: url(../images/contacts-dots.png) no-repeat center center;
  background-size: contain;
}

.contact-us .form-group {
  max-width: 45%;
}

.contact-us .form-control {
  padding-right: 0;
  padding-left: 0;
  color: #ffffff;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #e7e7f5;
}

.contact-us .btn {
  width: 45%;
}

.contact-us img {
  position: absolute;
  top: -80px;
  right: -40px;
  left: auto;
  z-index: 3;
  width: 400px;
  max-width: 50%;
  -webkit-box-shadow: 7px 0 79px 2px rgba(11, 14, 49, 0.63);
  box-shadow: 7px 0 79px 2px rgba(11, 14, 49, 0.63);
}

.contact-page {
  font-size: 18px;
  background: url(../images/contacts-bg.png) no-repeat right top;
  background-size: 100% auto;
}

.contact-page .label {
  position: relative;
  margin: 40px 0 10px;
  font-weight: 700;
}

.contact-page .label i {
  position: absolute;
  top: 4px;
  left: -30px;
}

.contact-page a {
  color: #ffffff;
}

.contact-page i {
  color: #2059ed;
}

.contact-page .social {
  font-size: 24px;
}

.contact-page .social li:first-child {
  margin-left: 0;
}

.map {
  margin: 0 0 60px;
  overflow: hidden;
  border-radius: 20px;
  -webkit-box-shadow: 12px 0 32px #181a40;
  box-shadow: 12px 0 32px #181a40;
}

.product-page .content {
  padding: 60px 0;
  color: #7a7a80;
  background: #e0e5f1;
}

.product-page .product-top {
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  grid-template-areas: "subtitle main-img"  "desc main-img";
  grid-template-columns: 42% auto;
  grid-template-rows: auto;
}

.product-page .subtitle {
  grid-area: subtitle;
}

.product-page .desc {
  grid-area: desc;
}

.product-page .main-img {
  border-radius: 20px;
  -webkit-box-shadow: 3px 0 36px rgba(13, 14, 41, 0.36);
  box-shadow: 3px 0 36px rgba(13, 14, 41, 0.36);
  grid-area: main-img;
}

.product-page .btn {
  width: 350px;
  max-width: 100%;
}

.product-slider {
  margin: 60px 0 30px;
}

.product-slider .img {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
}

.product-slider .img:before,
.product-slider .img:after {
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.product-slider .img:before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(77, 82, 95, 0.44);
}

.product-slider .img:after {
  content: "\f002";
  top: 50%;
  left: 50%;
  z-index: 2;
  font-weight: 900;
  font-size: 42px;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.product-slider .img:hover:before,
.product-slider .img:hover:after {
  opacity: 1;
}

.reviews-page .owl-theme .owl-item.center .item {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.reviews-page .owl-theme .owl-item img {
  width: 80px;
  margin: 0 15px 0 0;
}

.reviews-page .owl-theme .owl-dots .owl-dot.active span {
  border-color: #2059ed;
}

.reviews-page .owl-theme .owl-dots .owl-dot span {
  border-color: #ffffff;
}

.reviews-page .item {
  width: 700px;
  padding: 30px;
  font-size: 14px;
  background: #3a4480;
  border-radius: 25px;
  -webkit-box-shadow: 12px 0 38px #181a40;
  box-shadow: 12px 0 38px #181a40;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.6;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.reviews-page .name {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.reviews-page .name div {
  font-weight: normal;
  font-size: 12px;
  color: #2156e2;
}

.reviews-page .text {
  margin: 15px 0 0;
}

.reviews-page .btn-blue-o {
  position: absolute;
  top: -120px;
  right: 15px;
  left: auto;
  width: 300px;
  max-width: 100%;
  color: #ffffff;
}

.reviews-slider {
  position: relative;
  margin: 0 0 60px;
}

.reviews-slider:before,
.reviews-slider:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 150px;
  background-image: -webkit-gradient(linear, left top, right top, from(#17193f), to(transparent));
  background-image: -o-linear-gradient(left, #17193f, transparent);
  background-image: linear-gradient(90deg, #17193f, transparent);
}

.reviews-slider:after {
  content: "";
  position: absolute;
  right: 0;
  left: auto;
  background-image: -webkit-gradient(linear, right top, left top, from(#17193f), to(transparent));
  background-image: -o-linear-gradient(right, #17193f, transparent);
  background-image: linear-gradient(-90deg, #17193f, transparent);
}

.cases-filter-box {
  padding: 60px 0 0;
  background: #e0e5f1;
}

.cases-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cases-filter input:checked + label {
  color: #ffffff;
  background: #2059ed;
}

.cases-filter input:checked + label:after {
  background: url(../images/close.png) no-repeat center center;
  background-size: contain;
}

.cases-filter label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 40px;
  margin: 0 8px 0 0;
  padding: 0 40px 0 10px;
  font-size: 14px;
  color: #8f9399;
  background: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.cases-filter label:hover {
  color: #ffffff;
  background: #2059ed;
}

.cases-filter label:after {
  content: "";
  position: absolute;
  top: 14px;
  right: 10px;
  left: auto;
  width: 14px;
  height: 14px;
}

.case {
  position: relative;
  color: #7a7a80;
  background: #ffffff;
}

.case:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 320px;
  background: #e0e5f1;
}

.case .title {
  margin: 0;
  padding: 40px 0 0;
  font-weight: 700;
  font-size: 28px;
  color: #3f405f;
}

.case-slider .item {
  padding: 40px 0;
}

.case-slider .owl-item.center img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1 !important;
}

.case-slider img {
  max-width: 700px;
  border-radius: 25px;
  -webkit-box-shadow: 3px 0 32px rgba(13, 14, 41, 0.36);
  box-shadow: 3px 0 32px rgba(13, 14, 41, 0.36);
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0.5 !important;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.case-text {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 0 60px;
}

.home-page {
  background: url(../images/home-bg.png) no-repeat right top, url(../images/home-bg2.png) no-repeat left center;
  background-size: 100% auto;
}

.tab-pane {
  color: #cfcfe4;
}

.tab-title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 28px;
  color: #dfdfef;
}

.nav-tabs img {
  margin-right: 10px;
}

.nav-tabs span span {
  display: block;
}

.home-slider {
  margin: 30px 0 60px;
}

.home-slider .title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 28px;
}

.home-slider .btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 280px;
  margin: 40px 0 15px;
}

.home-slider .owl-controls {
  position: absolute;
  top: -40px;
  right: 0;
  left: auto;
}

.home-slider .owl-dots {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 0;
  list-style-type: none;
  line-height: 1;
  counter-reset: num;
}

.home-slider .owl-dots .owl-dot {
  margin: 0 8px;
  color: #e7e7f5;
}

.home-slider .owl-dots .owl-dot:before {
  content: "0" counter(num);
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  counter-increment: num;
}

.home-slider .owl-dots .owl-dot.active:before {
  font-size: 20px;
}

.home-slider .owl-dots .owl-dot span {
  display: none;
}

@media (max-width: 992px) {
  .nav-tabs {
    margin: 0 0 20px;
  }

  .nav-tabs .nav-link {
    min-height: 80px;
    padding: 10px;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-nav .nav-item {
    margin: 5px 0;
  }

  .breadcrumb {
    margin: 0;
  }

  body {
    font-size: 14px;
  }

  .page-title {
    margin: 0;
    font-size: 24px;
  }

  .subtitle {
    font-size: 18px;
  }

  header {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  header .logo img {
    height: 20px;
  }

  header .logo img:first-child {
    display: none;
    margin: 0;
  }

  header .social {
    display: none;
  }

  .search-form input {
    border-top: 0;
  }

  footer {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  footer .logo {
    margin: 0 0 20px;
  }

  footer .social {
    margin: 20px 0 0;
    font-size: 24px;
  }

  footer img {
    height: 20px;
  }

  .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 30px 0 0;
  }

  .footer-menu > li {
    margin: 8px 0;
  }

  .footer-menu ul {
    position: relative;
    top: 0;
    margin: 0;
    padding: 20px 0 0;
    border: 0;
  }

  .job-page {
    background-image: none;
  }

  .job-list {
    padding: 30px 0 0;
  }

  .job-list .collapse:after,
  .job-list .collapsing:after {
    height: 20px;
  }

  .job-list .job-title {
    padding: 0 0 20px;
    font-size: 18px;
  }

  .job-list .job-title span {
    margin: 5px 0 0;
    font-size: 14px;
  }

  .category-list .item:nth-child(even) .container {
    grid-template-areas: "title"    "img"    "desc"    "btn";
  }

  .category-list .container {
    grid-template-areas: "title"    "img"    "desc"    "btn";
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }

  .category-page .h2 {
    font-size: 24px;
  }

  .contact-us {
    padding-bottom: 0;
    background: transparent;
  }

  .contact-us .section-title {
    margin-left: -30px;
  }

  .contact-us form {
    margin: -10px -15px 0;
    padding: 40px 15px;
  }

  .contact-us form:after {
    display: none;
  }

  .contact-us .form-group {
    max-width: 100%;
  }

  .contact-us .btn {
    width: 100%;
  }

  .contact-us img {
    display: none;
  }

  .contact-page {
    font-size: 16px;
  }

  .contact-page .label {
    margin: 30px 0 5px;
  }

  .map {
    margin: 30px -15px 0;
    border-radius: 0;
  }

  .product-page .content {
    padding: 40px 0;
  }

  .product-page .product-top {
    grid-template-areas: "subtitle"    "main-img"    "desc";
    grid-template-columns: 100%;
  }

  .product-slider {
    margin: 30px 0;
  }

  .product-slider .img:after {
    font-size: 32px;
  }

  .reviews-page .btn-blue-o {
    top: -65px;
    width: 160px;
    font-size: 14px;
  }

  .reviews-slider {
    margin: 0;
  }

  .cases-filter-box {
    padding: 30px 0 0;
  }

  .cases-filter label {
    padding: 0 30px 0 10px;
    font-size: 12px;
  }

  .case:nth-child(odd) {
    background: #e0e5f1;
  }

  .case:before {
    display: none;
  }

  .case .title {
    padding: 30px 0 0;
    font-size: 20px;
  }

  .case-slider .item {
    padding: 30px 15px;
  }

  .case-text {
    padding-right: 15px;
    padding-left: 15px;
  }

  .tab-title {
    font-size: 1.5rem;
  }

  .nav-tabs img {
    width: 30px;
  }

  .nav-tabs span span {
    display: none;
  }

  .home-slider img {
    margin: 20px auto;
  }
}

@media (max-width: 768px) {
  .category-list .title {
    font-size: 18px;
  }

  .reviews-page .owl-theme .owl-item img {
    width: 50px;
  }

  .reviews-page .item {
    width: auto;
    padding: 15px;
    border-radius: 20px;
  }

  .reviews-page .name {
    font-size: 14px;
  }

  .reviews-slider:before,
  .reviews-slider:after {
    display: none;
  }
}